<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h2>Iris Data Prediction System Using ML (KNN Algo)</h2>

<div>

	<form action="\predict", method="POST">
		<label for = "Data"> Sepal Length :- </label>
		<input type="text"  id ="sepal_length" name="sepal_length">
		<br><br>
		<label for = "Data"> Sepal Width :- </label>
		<input type="text"  id ="sepal_width" name="sepal_width">
		<br><br>
		<label for = "Data"> Petal Length :- </label>
		<input type="text"  id ="petal_length" name="petal_length">
		<br><br>
		<label for = "Data"> Petal Width :- </label>
		<input type="text"  id ="petal_width" name="petal_width">	
		<br><br>
		<input type="submit"  value="Submit">
	</form>

</div>
</body>
</html>